@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;400;700&display=swap');
body/*设置背景*/
{
    background-image : url("../background.jpg");
    background-size: 100%;
    background-attachment: scroll;
}
.Dft_block/*默认块样式*/
{
    text-align : left;
    background-color : rgba(255,255,249,1);/*背景色*/
    margin : 15px 30px 15px 30px;/*边外距*/
    padding : 25px 10px 25px 10px;/*边内距*/
    text-indent : 2em;/*首行缩进*/  line-height : 1.15;/*行高*/
    font-size :1em;
}
.NIndt_block/*无缩进块样式*/
{
    text-align : left;
    background-color : rgba(255,255,249,1);/*背景色*/
    border : 3px solid red;/*边框：3像素 实线 红色*/
    border-radius : 4px;/*圆角：4像素*/
    margin : 15px 30px 15px 30px;/*边外距*/
    padding : 25px 10px 25px 10px;/*边内距*/
    line-height : 1.15;/*行高*/
    font-size :1em;
}
.textus
{
    font-family: "PLEO";
}
.align_C
{text-align : center;}
.align_L
{text-align : left;}
.align_R
{text-align : right;}
